IO_LOC "sys_clk" 75;        // 50Mhz
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "s0" 21;
IO_PORT "s0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

//IO_LOC "reset2" H10;
//IO_PORT "reset2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// HDMI (USB-A side PMOD)
IO_LOC "tmds_clk_p" 129;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" 130;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" 131;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" 134;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" 133;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" 135;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" 136;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" 137;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// SDCard
// sipeed pmod tfcardv2
IO_LOC "sd_clk" 83;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_cmd" 82;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat0" 80;       // MISO or SD card DO, needs pull-up
IO_PORT "sd_dat0" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat1" 79;       // 1
IO_PORT "sd_dat1" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat2" 78;       // 1
IO_PORT "sd_dat2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat3" 76;       // 1
IO_PORT "sd_dat3" PULL_MODE=UP IO_TYPE=LVCMOS33;

// UART through USB-C port
IO_LOC "UART_RXD" 124;
IO_LOC "UART_TXD" 125;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// NOR Flash W25Q64 (MSPI pins)
IO_LOC "flash_spi_cs_n" 16;
IO_PORT "flash_spi_cs_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_wp_n" 24;
IO_PORT "flash_spi_wp_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_hold_n" 144;
IO_PORT "flash_spi_hold_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_miso" 25;
IO_PORT "flash_spi_miso" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_mosi" 27;
IO_PORT "flash_spi_mosi" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "flash_spi_clk" 28;
IO_PORT "flash_spi_clk" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

// SDRAM
IO_LOC "IO_sdram_dq[0]" 58;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" 57;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" 56;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" 54;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" 52;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" 50;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" 49;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" 48;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" 59;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" 60;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" 61;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" 62;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" 64;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" 65;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" 66;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" 67;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" 35;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" 34;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" 32;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" 23;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" 6;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" 7;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" 8;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" 10;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" 11;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" 13;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" 39;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" 14;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" 19;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" 42;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" 41;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" 47;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" 22;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" 20;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" 46;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" 44;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" 45;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" 43;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// LEDs for debug
IO_LOC "led[0]" 106;
IO_PORT "led[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "led[1]" 105;
IO_PORT "led[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "led[2]" 104;
IO_PORT "led[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "led[3]" 102;
IO_PORT "led[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "led[4]" 101;
IO_PORT "led[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "led[5]" 99;
IO_PORT "led[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// FPGA Companion
IO_LOC "mcu_ss" 94;
IO_PORT "mcu_ss" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mcu_clk" 93;
IO_PORT "mcu_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33 HYSTERESIS=ON;
IO_LOC "mcu_dout" 92;
IO_PORT "mcu_dout" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mcu_din" 90;
IO_PORT "mcu_din" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mcu_intn" 88;
IO_PORT "mcu_intn" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mcu_spare" 87;
IO_PORT "mcu_spare" PULL_MODE=UP IO_TYPE=LVCMOS33;
